@tailwind base;
@tailwind components;
@tailwind utilities;

.head {
    background-image: url("../app/img/map.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}